body {
  margin: 0;
  min-height: 100vh;
}

button {
  padding: 20px 30px;
  border: 2px solid black;
  background-color: bisque;
  border-radius: 5%;
  box-shadow: 1px 1px;
  cursor: pointer;
  margin: 10px;
  font-weight: 900;
  font-size: 20px;
}
button:active {
  transform: translateY(4px);
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(200, 228, 251);
}

.Display {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin: 20px;
}

.Player-Selected, .PC-Selected {
    width: 200px;
    font-size: 24px;
}

.Winner {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.Scores {
  display: flex;
}

.Player-Scores, .PC-Scores {
  margin-left: 150px;
  margin-right: 150px;

}

.Round {
  margin-bottom: 50px;
  font-size: 45px;
}