body {
  margin: 0;
  font-family: monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(18, 64, 64, 0.575);
  position: fixed;
  width: 100%;
  color: rgb(75, 156, 226);
  font-size: 32px;
  text-shadow: 2px 2px rgba(109, 34, 109, 0.459), 2px 2px rgb(12, 94, 149);
}

button {
  padding: 20px 30px;
  border: 2px solid rgb(51, 60, 98);
  background-color: rgb(24, 41, 44);
  color: rgb(5, 153, 190);
  border-radius: 5%;
  box-shadow: 10px 10px 20px 0px black;
  cursor: pointer;
  margin: 10px;
  font-weight: 900;
  font-size: 20px;
  width: 150px;
  transition: 200ms;
}

button:hover {
  transform: scale(1.05);
  border-radius: 10%;
  box-shadow: 7px 7px 12px 1px black;
}

button:active {
  transform: translateY(4px);
}

.disable {
  display: none;
}

.Player-Selection {
  bottom: 25%;
  position: fixed;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(55, 62, 68);
}

.Display {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  margin: 20px;
}

.Player-Selected,
.PC-Selected {
  width: 200px;
  font-size: 24px;
}

.Winner {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px rgb(19, 54, 151);
}

.Scores {
  display: flex;
  position: fixed;
  bottom: 40%;
  color: rgba(25, 198, 214, 0.65);
  text-shadow: 1px 1px rgb(181, 184, 194);
}

.Player-Scores,
.PC-Scores {
  margin-left: 150px;
  margin-right: 150px;
}

.Round {
  margin-bottom: 50px;
  font-size: 45px;
  text-shadow: 1px 1px rgb(19, 54, 151), 2px 2px rgb(96, 96, 172);
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 45%;
  position: fixed;
  color: rgba(25, 198, 214, 0.65);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 59, 59, 0.507);
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  padding: 5px;
  color: rgb(106, 181, 246);
}
